#shadow-dom-page-1-host-root-1 {
    background-color: #e0e0e0;
}

#shadow-dom-page-1-host-root-1::part(f79d2355-971d-4dcc-85b2-26ce4e8c2b55) {
    background-color: aqua;
}

#shadow-dom-page-1-dummy-root-2::part(dbe8cd3f-72a6-40f9-a0ef-0c41b933de74) {
    background-color: aqua;
}
